name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      env:
       DOCKER_COM_PASS: ${{ secrets.DOCKER_COM_PASS }}
      run: |
       cd build
       tagname="yumusb/vlmcsd:$(date +%s)"
       docker build . --file Dockerfile --tag $tagname
       docker login -u yumusb -p $DOCKER_COM_PASS
       docker push $tagname